.add-trip-form-heading {
  border-bottom: 1px solid #8d8d8d;
}

.add-trip-form {
  width: 620px;
  padding: 25px;
}
.add-trip-form-lable {
  font-family: 'Roboto';
}
.add-trip-select {
  width: 100%;
}
.add-trip-select option {
  font-family: 'Roboto';
}
input[type='text'].date-input,
input[type='date'].date-input {
  border: 1px solid #8d8d8d;
  padding: 0px;
  width: 100%;
}
.input-decor-container {
  position: relative;
}
.input-decor-container::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 2px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  background-image: url('../assets/Calendar_icon_2.svg');
  background-size: cover;
}
.input-decor-container:hover .input-decor-container::after {
  display: none;
}
