.filter {
  margin-left: 50px;
  margin-bottom: 50px;
}

.filter-input {
  width: 320px;
  border: 1px solid transparent;
  border-radius: 18px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 2.5;
  background-color: #f2f4f8;
}
filter::placeholder {
  font-size: 18px;
  padding-left: 62px;
}

.filter-decor {
  position: relative;
}

.filter-decor::before {
  content: '';
  position: absolute;
  display: block;
  left: 5px;
  top: 6px;
  width: 25px;
  height: 25px;
  background-image: url('../assets/Search_Icon.svg');
  background-size: cover;
}
