.nav-list {
  display: flex;
  gap: 15px;
}
.nav-link {
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  padding: 5px;
  color: black;
}
.nav-link:hover {
  color: white;
  background-color: #1890ff;
  border-color: #1890ff;
}
