.trip-section-heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 70px;
}

.heading-decor {
  font-weight: 600;
}
.weather-widget {
  background-color: blue;
  height: 100vh;
}
